extends layout

block subtitle
    | Cloud

block content
    h1 Swanager Cloud
    p Swanager Cloud - это надежное решение для облачного хостинга приложений на Docker. Используя инфраструктуру наших партнеров, мы даем вам установленный Swanager на масштабируемых Swarm кластерах.
    h2 Представляем наших партнеров:
    table.cloud-featuring
      tr
        td
          p
            a(href="https://azure.microsoft.com" target="_blank")
              img(src="/images/microsoft-azure.png" height="30")/
              br/
            |<b class="small">West Europe, Central US</b>
        td
          p
            a(href="http://cloud.croc.ru/en/" target="_blank")
              img(src="/images/croc-eng.png" height="30")/
              br/
            |<b class="small">RU Moscow</b>

    h2 Цены
    p Вы можете посмотреть на <a href="https://azure.microsoft.com/en-us/pricing/calculator/" target="_blank">ценовую политику Azure VMS</a>, чтобы просчитать экономику своего бизнеса.</br>К этой стоимости мы ничего не прибавляем, вы совершаете единовременный платеж в размере <b>$500</b> за <a href="#" id="dedicated-cluster-toggle">установку кластера</a>.
    p#dedicated-cluster-description
      |По умолчанию мы устанавливаем: VMs, Network, Storage Share (LVM + GlusterFS),<br/>Docker Swarm, Swanager и его модули.
    p <a href="mailto:info@swanager.com">Напишите нам</a>, если вам нужна какая-либо помощь в создании топологии вашей инфраструктуры. Мы сможем дать вам примерную информацию по месячному использованию, если вы предоставите нам больше информации о своем проекте.
    h2#support Поддержка
    p
      |<b>Важно!</b> По умолчанию мы не предоставляем какие-либо услуги по поддержке!<br/>
      |Если вам нужна поддержка с гарантированным SLA, ознакомьтесь с нашими <b>Тарифными Планами Поддержки</b>:
      table.support-plans
        tr
          th План
          th Описание
          th Доступность&nbsp;/&nbsp;Время&nbsp;Ответа
          th Стоимость
        tr
          td <b>A</b>
          td <b>Критическое влияние на бизнес</b><br/>Ваш бизнес имеет значительные потери и требует немедленной помощи.
          td 24x7<br/>Ответ в течение < 15 мин
          td $1000/mo
        tr
          td <b>B</b>
          td <b>Среднее влияние на бизнес</b><br/>Ваш бизнес имеет средние потери, но может частично функционировать.
          td В рабочие часы<br/>Ответ в течение < 2 часа
          td $500/mo
        tr
          td <b>C</b>
          td <b>Минимальное влияние на бизнес</b><br/>Ваш бизнес спокойно функционирует и с минорными потерями и неработающими сервисами.
          td В рабочие часы<br/>Ответ в течение < 4 часа
          td $100/mo

    h2#sla SLA
    p Мы верим в 99,9% аптайм наших партнеров. В любом случае, если говорить об аптайме, то важно определить конкретный модуль, который нуждается в отказоустойчивости. Используя Swarm кластеры как фундамент нашей инфраструктуры, мы гарантируем 99,9% аптайм всех запущенных приложений, в случае если это не зависит от вашей бизнес логики.

    h2 Публичная Версия
    p Публичная версия сейчас находится на стадии beta и имеет ограничения в публичном доступе, но вы можете <a href="mailto:quota@swanager.com">запросить квоту</a>.
    p Если вы существующий клиент, <a href="http://cloud.swanager.com">войдите в систему</a>.



    br/
    br/
