extends layout

block subtitle
    | Home

block content
    h1 Познакомьтесь с Swanager!
    p Мы предлагаем вам высокоуровневый инструмент для управления Docker Сервисами. Swanagaer построен над Swarm, что позволяет его использовать в микросервисных приложениях, SaaS прокетах и приложениях с горизонтальным масштабированием.
    //If you have any terminological issues please visit our <a href="/">FAQ</a>.
    h2 Краткое описание
    p Фокусируясь на Высокой Доступности (High Availability, HA), мы создаем сервисы, чтобы объединить их в одно общее решение.
    p
        b Основные ингредиенты HA:
        br/
        | - processes fault tolerance
        br/
        | - databases accessibility
        br/
        | - storage accessibility
        br/
        | - reliable DNS
    p Все процессы должны быть запущены в кластерах. Это позволяет масштабироваться и отвечать всем законам HA. Swanager - это менеджер Swarm Сервисов, который построен на Docker Engine (используя встроенный Swarm) и дает надежный инструмент управления всеми сервисами через API или UI Admin Tool.
    p
        b Ключевые компоненты:
        br/
        | - ACL
        br/
        | - applications management
        br/
        | - events ecosystem
        br/
        | - logging
        br/
        | - scheduler
    p
        b Плагины, расширения и интеграции:
        br/
        | - data backup
    p   Чтобы лучше понять о возможностях интеграции Swanager, ознакомьтесь с нашими <a href="usecases">кейсами</a>. Вы также можете написать нам на <a href="mailto:hello@swanager.com">почту</a>.
        br/
        br/
