doctype html
html
    head
        title: block title
            block subtitle
            |  |
            | Swanager - высокоуровневый инструмент управления Docker кластерами

        link(rel="icon" href="/images/favicon.ico")
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/jquery-1.11.1.min.js')
        script(src='/js/script.js')

        include ../include/_gtm
        block scripts
    body
        include ../include/_gtm_body
        .header
            .container
                a.logo(href="/")
                    | Swanager
                ul

                    li
                        a(href="//builder.swanager.com" target="_blank") BUILDER
                    li
                        a(href="//cloud.swanager.com" target="_blank") CLOUD

                    li
                        a.lang(href="/") EN

                .github-star
                    a.github-button(href="https://github.com/dokkur/swanager" data-style="mega" data-count-href="/dokkur/swanager/stargazers" data-count-api="/repos/dokkur/swanager#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star dokkur/swanager on GitHub") Star


        .page
            .container
                .sidebar
                    ul
                        li
                            a(href="/ru/") Описание
                        li
                            a(href="/ru/api") API
                        li
                            a(href="/ru/cloud") Cloud
                        li
                            a(href="/ru/builder") Builder
                        li
                            a(href="/ru/cloud#support") Поддержка
                        li
                            a(href="/ru/cloud#sla") SLA
                        //li
                            a(href="/faq") FAQ
                        li
                            a(href="/ru/usecases") Кейсы
                        //li
                            a(href="/licence") Licence
                        //li
                            a(href="/credentials") Credentials
                .content
                    block content
        .footer
            .container
                .credentials
                    | Сделано с любовью командой @<a href="https://dokkur.com">Dokkur</a>, 2017
                ul.social
                    li
                        a(href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this tool from @dokkur_com team!" data-size="large" data-hashtags="docker,cluster,swarm,swanager") Tweet
                    li
                        a.github-button(href="https://github.com/dokkur" data-style="mega" aria-label="Follow @dokkur on GitHub") Follow @dokkur

        script(src="//platform.twitter.com/widgets.js")
        script(async defer src="https://buttons.github.io/buttons.js")
