extends layout

block subtitle
    | Usecases

block content
    h1 Наши Кейсы

    h3: a(href="https://www.insales.ru/collection/apps/product/apksystems" target="_blank") <img src="/images/apksystems.png" height="60"/> APK Systems
    div <span class="small">[2016, RU]</span>
    p
      |<b>Stack:</b> Приложения, написанные на Python и AngularJS, запакованные в мобильное приложение<br/>
      |<b>Логика масштабирования:</b> Отдельные backend и frontend приложения для каждого мобильного приложения<br/>
      |<b>Время интеграции:</b> 5 недель<br/>
      |<b>Статус:</b> Продакшен<br/>
    p
      |Команда предоставляет сервис для быстрого создания мобильных приложений на базе уже существующих e-commerce сайтов, использующий платформу <a href="http://insales.ru" target="_blank">InSales</a>.<br/>
      |Пользуясь Swanager, они автоматизировали создание их ПО: разработчики работают над своими приложениями, Swanager Builder создает образы, и их приложения публикуются с помощью Swanager Cloud.
      br/
      br/

    p
      h3: a(href="http://slack-ssh-bot.com" target="_blank") <img src="/images/slack-ssh-bot.png" height="30"/>
      div <span class="small">[2017, UK]</span>
    p
      |<b>Stack:</b> GoLang<br/>
      |<b>Логика масштабирования:</b> Отдельные процессы для каждого открытого соединения<br/>
      |<b>Время интеграции:</b> 4 недели<br/>
      |<b>Статус:</b> Продакшен<br/>
    p
      |Команда выпустила приложение для создания SSH pipe между каналом <a href="https://slack.com">Slack</a> и любым сервером. Чтобы уменьшить ping, они вынуждены публиковать каждый процесс для клиентов в конкретной локации, которая близка к целевому серверу. Мы предоставляем им <b>5 кластеров</b> в <b>5 различных регионах по всему миру</b>.
    br/
    br/


    p
      h3: a <img src="/images/nda.png" height="60"/> &nbsp;&nbsp;Cloud Rendering Platform
      div <span class="small">[2017, RU]</span>
    p
      |<b>Stack:</b> <a href="https://www.solidangle.com/arnold/" target="_blank">Arnold</a><br/>
      |<b>Логика масштабирования:</b> Комбинация из горизонтального и вертикального масштабирования запущенных рендер-процессов в множестве кластеров (10-100), состоящих из более 10К ядер каждый<br/>
      |<b>Время интеграции:</b> 6 недели<br/>
      |<b>Status:</b> Продакшен Демо, Staging<br/>
    p
      |
    br/
    br/
