html, body{
    padding: 0;
    margin: 0;
    min-height: 100%;
    background: #fafafa;
}

*{
    box-sizing: border-box;
    font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: inherit;
}

b{
  font-family: inherit;
}

.small{
  font-size: 0.8em;
}

.container{
    position: relative;
    margin: 0 auto;
    /*width: 100%;*/
    /*max-width: 970px;*/
    width: 970px;
    padding: 0 16px;
}

.header{
    width: 100%;
    min-width: 970px;
    height: 3.5em;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    padding: 18px 0 16px 0;
    font-size: 1em;
    font-weight: bold;
}

.header ul{
    float: right;
    margin: 0;
    padding: 0;
}
.header ul li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 15px;
    padding: 0;
}

.header ul li a{
    font-size: .8em;
    text-transform: uppercase;
    padding: .5em 1.5em;
    border: 1px solid #6cc0e5;
    border-radius: 3px;
    /*user-select: none;*/
    color: #41addd;
    font-weight: normal;
}
.header ul li a:hover{
    background: #6cc0e5;
    color: white;
}
.header .github-star{
    float: right;
}

.page{
    padding-top: 20px;
}

.sidebar{
    position: absolute;
    left: 16px;
    top: 0;
    width: 150px;
}
.sidebar ul{
    padding: 8px 0 0 20px;
    margin: 0;
}
.sidebar ul li{
    margin: 0;
}
.sidebar ul li a{
    display: block;
    padding: 3px 0 3px 10px;
    border-radius: 3px;
}
.sidebar ul li.active a,
.sidebar ul li a:hover{
    background: rgba(0, 0, 0, .05);
}

.content{
    display: block;
    padding-left: 200px;
}
.content h1{
    font-size: 2em;
}
.content p{
    font-family: Georgia, Times, Times New Roman, serif;
    line-height: 1.5em;
    font-size: 1em;
}
.content p a{
    color: #41addd;
    font-family: inherit;
}
.content p a:hover{
    color: #6cc0e5;
}
.content h2{
    font-size: 1.5em;
}


.footer{
    width: 100%;
    min-width: 970px;
    background: white;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    display: inline-block;
    vertical-align: middle;
    padding: 18px 0 16px 0;
    font-size: 1em;
    font-weight: bold;
}
.footer .social{
    float: right;
    padding: 0;
    margin: 0;
}
.footer .social li{
    display: inline-block;
    margin-left: 16px;
}
.footer .credentials{
    float: left;
    font-weight: lighter;
    font-size: 11px;
    line-height: 36px;
}
.footer .credentials a{
    font-size: inherit;
    color: #41addd;
}
.content .credentials a:hover{
    color: #6cc0e5;
}

/* API section */

.api-object{
  padding: 0 0 10px 0;
}
.api-object table{
  border: 1px solid #6cc0e5;
  border-collapse: collapse;
  width: 100%;
}
.api-object table tr th{
  background: #6cc0e5;
}
.api-object table tr td,
.api-object table tr th{
  padding: 3px 10px;
  font-family: monospace;
  font-size: 0.8em;
  text-align: left;
  border: 1px solid #41addd;
}
.api-object h3 a:hover{
  text-decoration: underline;
}
.api-object h3 a span{
  font-size: 0.8em;
}
.api-object pre{
  font-family: monospace;
  font-size: 0.8em;
  background: aliceblue;
  border: 3px;
  padding: 15px;
}

.cloud-featuring tr td{
  padding: 0 20px;
}

.support-plans{
  border: 1px solid #6cc0e5;
  border-collapse: collapse;
  width: 100%;
}
.support-plans tr th{
  background: #6cc0e5;
}
.support-plans tr td,
.support-plans tr th{
  padding: 10px 10px;
  font-size: 0.8em;
  text-align: left;
  border: 1px solid #41addd;
  vertical-align: top;
}

#dedicated-cluster-description{
  font-size: 0.8em;
  background: aliceblue;
  border: 3px;
  padding: 15px;
  display: none;
}
