extends layout

block subtitle
    | API

block content
    h1 Swanager API basic features
    p While the main development is in progress, there may be a lot of missing objects/methods.<br/>Please, track our <a href="https://github.com/dokkur/swanager" target="_blank">main repo</a> to get all the updates.
    
    #authrorization-rule
        h2 Authrorization 
	p Authrorization occurs by sending token in header
	p Example:
	p <code>authorization: 97fea45d-9f25-29e4-7030-d89a283f1c7246fbe9fe9bb317ef</code>
	
    h2 Objects

    .api-object#application
        h3: a(href="#application") Application <span>&nbsp;&#128279;</span>
        table
            tr <th>name</th><th>type</th><th>description</th><th>note</th>
            tr <td>id</td><td>string</td><td>Identifier</td><td>uuid</td>
            tr <td>name</td><td>string</td><td>App name</td><td></td>
            tr <td>services</td><td>Array &lsaquo;Service&rsaquo;</td><td>Array of app's services objects</td><td>May not exist in the response</td>
            tr </td><td>service_ids</td><td>Array &lsaquo;String&rsaquo;</td><td>List of app's services IDs</td><td>May not exist in the response</td>

        h3 Example
        pre
            |// GET apps/
            |{"applications":[
            |    {
            |        "id":"fa3e61fd-9281-e6c0-58bb-59bc6c710431b217b60617c743ea",
            |        "name":"Super app",
            |        "services":null,
            |        "service_ids":null
            |    }]
            |}

    .api-object#service
        h3: a(href="#service") Service <span>&nbsp;&#128279;</span>
        table
            tr <th>name</th><th>type</th><th>description</th><th>note</th>
            tr <td>id</td><td>string</td><td>Identifier</td><td>uuid</td>
            tr <td>application_id</td><td>string</td><td>App's ID the service is relates to</td><td></td>
            tr <td>name</td><td>string</td><td>Service's name</td><td></td>
            tr <td>image</td><td>string</td><td>Service's Docker image</td><td></td>
            tr <td>ns_name</td><td>string</td><td>NS NAME</td><td></td>
            tr <td>replicas</td><td>int</td><td>Number of service's replicas</td><td></td>
            tr <td>parallelism</td><td>int</td><td>Number of simultaneously updating services</td><td></td>
            tr <td>status</td><td>Status object</td><td>Service's status</td><td>May not exist in the response</td>
            tr <td>env</td><td>Array({name: '', value: ''})</td><td>Environment variables</td><td></td>
        h3 Example
        pre
            |// GET services/
            |{"services":[
            |    {
            |        "id":"feab2ca0-d28a-0553-b526-9c9418816317389c87e26711f6ee",
            |        "name":"nginx",
            |        "image":"nginx:latest",
            |        "ns_name":"super-app-nginx-2f425548",
            |        "replicas":2,
            |        "parallelism":0,
            |        "status":[
            |            {
            |                "replica_id":"",
            |                "node":"",
            |                "status":"not_exists",
            |                "timestamp":"0001-01-01T00:00:00Z"
            |            }
            |        ],
            |        "application_id":"fa3e61fd-9281-e6c0-58bb-59bc6c710431b217b60617c743ea"
            |    }]
            |}

    .api-object#job
        h3: a(href="#job") Job <span>&nbsp;&#128279;</span>
        table
            tr <th>name</th><th>type</th><th>description</th><th>note</th>
            tr <td>id</td><td>string</td><td>Identifier</td><td>uuid</td>
            tr <td>state</td><td>string</td><td>Async job's status</td><td>working|success|error</td>
            tr <td>result</td><td>string</td><td>Job's result</td><td></td>
            tr <td>started_at</td><td>datetime</td><td>Time of job's beginning</td><td></td>
            tr <td>finished_at</td><td>datetime</td><td>Time of job's end</td><td></td>
        h3 Example
        pre
            |// GET jobs/2fbbfe1e-f821-b4ad-ad9f-98bb173b3cf2e5de1095311b6fe2
            |{"job": {
            |        "id":"2fbbfe1e-f821-b4ad-ad9f-98bb173b3cf2e5de1095311b6fe2",
            |        "state" : "success"
            |        "result" : {
            |            "id" : "d0732664-837b-9f79-6c2a-983d85138d38e2b93eb248203346",
            |            "name" : "Nginx with Something",
            |        },
            |        "started_at" : "2017-02-11T14:54:31.325Z",
            |        "finished_at" : "2017-02-11T14:54:31.350Z"
            |    }
            |}

    .api-object#statitem
        h3: a(href="#statitem") StatItem <span>&nbsp;&#128279;</span>
        table
            tr <th>name</th><th>type</th><th>description</th><th>note</th>
            tr <td>user_email</td><td>string</td><td>User's email</td><td></td>
            tr <td>application_id</td><td>string</td><td>App ID</td><td></td>
            tr <td>application_name</td><td>string</td><td>App's name</td><td></td>
            tr <td>service_id</td><td>string</td><td>Service ID</td><td></td>
            tr <td>service_name</td><td>string</td><td>Service's</td><td></td>
            tr <td>replica_id</td><td>string</td><td>Replica ID</td><td></td>
            tr <td>status</td><td>string</td><td>created|restarting|running|removing|paused|exited|dead</td><td></td>
            tr <td>timestamp</td><td>datetime</td><td>Time since service gets the status</td><td></td>
        h3 Example
        pre
            |// GET stat/
            |{
            |   "stats":[
            |      {
            |         "user_email":"mail@example.com",
            |         "application_name":"Super app",
            |         "application_id":"fa3e61fd-9281-e6c0-58bb-59bc6c710431b217b60617c743ea",
            |         "service_id":"feab2ca0-d28a-0553-b526-9c9418816317389c87e26711f6ee",
            |         "service_name":"nginx",
            |         "replica_id":"tbkx3jf6ce2yd4scmi55ezly5",
            |         "status":"running",
            |         "timestamp":"2017-02-12T12:29:36.291284729Z"
            |      },
            |      {
            |         "user_email":"mail@example.com",
            |         "application_name":"Super app",
            |         "application_id":"fa3e61fd-9281-e6c0-58bb-59bc6c710431b217b60617c743ea",
            |         "service_id":"feab2ca0-d28a-0553-b526-9c9418816317389c87e26711f6ee",
            |         "service_name":"nginx",
            |         "replica_id":"tzxrs8ssrw9loedqktcgzxesb",
            |         "status":"running",
            |         "timestamp":"2017-02-12T12:29:35.646056597Z"
            |      }
            |   ]
            |}

    .api-object#status
        h3: a(href="#status") Status <span>&nbsp;&#128279;</span>
        table
            tr <th>name</th><th>type</th><th>description</th><th>note</th>
            tr <td>node</td><td>string</td><td>Node ID, where replica is running</td><td></td>
            tr <td>replica_id</td><td>string</td><td>Replica ID</td><td></td>
            tr <td>status</td><td>string</td><td>Replica's status</td><td></td>
            tr <td>timestamp</td><td>string</td><td>Time of the latest status change</td><td></td>
        h3 Example
        pre
            |{
            |    node:"sluxo425f0lkgeq6o5u1w5ybu"
            |    replica_id:"dq16q138wgmz7qx1f78idummv"
            |    status:"running"
            |    timestamp:"2017-02-11T15:49:10.466014357Z"
            |}

    .api-object#token
        h3: a(href="#token") Token <span>&nbsp;&#128279;</span>
        table
            tr <th>name</th><th>type</th><th>description</th><th>note</th>
            tr <td>token</td><td>string</td><td>a token</td><td>uuid</td>
        h3 Example
        pre
            |// POST sessions/
            |{"token": "fa3e61fd-9281-e6c0-58bb-59bc6c710431b217b60617c743ea"}

    br/
    br/
    
    .api-object#port
        h3: a(href="#port") Port <span>&nbsp;&#128279;</span>
        table
            tr <th>name</th><th>type</th><th>description</th><th>note</th>
            tr <td>internal</td><td>int</td><td>Container port</td><td></td>
            tr <td>external</td><td>int</td><td>External port</td><td></td>
            tr <td>protocol</td><td>string</td><td>Protocol</td><td>tcp/udp</td>
	
    br/
    br/
    
    h2 Methods	
    .api-object#service-create
        h3: a(href="#service-create") Service.create <span>&nbsp;&#128279;</span>
        p Creates service
        p <a href="#authrorization-rule">Required user authorization</a>
		
        table
            tr <th>Method</th><th>URL</th>
            tr <td>POST</td><td>/api/v1/services</td>
		
        p <i><b>Parameters:</i></b>
        table
            tr <th>Name</th><th>Type</th><th>Required</th><th>Description</th><th>Note</th>
            tr <td>app_id</td><td>string</td><td></td><td>Application id</td><td></td>
            tr <td>name</td><td>string</td><td></td><td>Application name</td><td></td>
            tr <td>image</td><td>string</td><td></td><td>Docker image</td><td></td>
            tr <td>replicas</td><td>int</td><td></td><td>Replicas number</td><td></td>
            tr <td>published_ports</td><td>array[<a href="#port">Port Object</a>]</td><td></td><td></td><td></td>
            tr <td>volumes</td><td>array[string]</td><td></td><td></td><td></td>
		
        h3 Result
        table
            tr <th>Parameter</th><th>Type</th><th>Description</th><th>Note</th>
            tr <td>service</td><td><a href="#service">Service</a></td><td>Created service</td><td></td>
		
        //h3 Errors
        //table
            tr <th>Name</th><th>Code</th><th>Text</th><th>Description</th>
            tr <td></td><td></td><td></td><td></td>
            
    br/
    br/
                
    .api-object#service-delete
        h3: a(href="#service-delete") Service.delete <span>&nbsp;&#128279;</span>
        p Deletes service (Can cause an applications inconsistency if these services are associated with other services)
        p <a href="#authrorization-rule">Required user authorization</a>
		
        table
            tr <th>Method</th><th>URL</th>
            tr <td>DELETE</td><td>/api/v1/services/:service_id</td>
		
        p <i><b>Parameters:</i></b>
        table
            tr <th>Name</th><th>Type</th><th>Required</th><th>Description</th><th>Note</th>
            tr <td></td><td></td><td></td><td></td><td></td>
            		
        h3 Result
        table
            tr <th>Parameter</th><th>Type</th><th>Description</th><th>Note</th>
            tr <td>service</td><td><a href="#service">Service</a></td><td>Deleted service</td><td></td>
	    		
        h3 Errors
        table
            tr <td>№</td><th>Name</th><th>Code</th><th>Text</th><th>Description</th>
            tr <td>1</td><td>404</td><td>Service not found</td><td></td>
	    tr <td>2</td><td>422</td><td>Unprocessable entity</td><td></td>
            
    br/
    br/
    
    .api-object#service-list
        h3: a(href="#service-list") Service.list <span>&nbsp;&#128279;</span>
        p Returns services list for current user
        p <a href="#authrorization-rule">Required user authorization</a>
		
        table
            tr <th>Method</th><th>URL</th>
            tr <td>GET</td><td>/api/v1/services</td>
		
        p <i><b>Parameters:</i></b>
        table
            tr <td>№</td><th>Name</th><th>Type</th><th>Required</th><th>Description</th><th>Note</th>
            tr <td>1</td><td>app_id</td><td>string</td><td></td><td>Application filter</td><td></td>
            		
        h3 Result
        table
            tr <td>№</td><th>Parameter</th><th>Type</th><th>Description</th><th>Note</th>
            tr <td>1</td><td>service</td><td>array[<a href="#service">Service</a>]</td><td>Services list</td><td></td>
           
    br/
    br/
    
    .api-object#service-show
        h3: a(href="#service-show") Service.show <span>&nbsp;&#128279;</span>
        p Returns service by id with current user state
        p <a href="#authrorization-rule">Required user authorization</a>
		
        table
            tr <th>Method</th><th>URL</th>
            tr <td>GET</td><td>/api/v1/services/:serice_id</td>
		
        p <i><b>Parameters:</i></b>
        table
            tr <td>№</td><th>Name</th><th>Type</th><th>Required</th><th>Description</th><th>Note</th>
            tr <td>1</td><td>service_id</td><td>string</td><td></td><td>Service ID</td><td></td>
            		
        h3 Result
        table
            tr <td>№</td><th>Parameter</th><th>Type</th><th>Description</th><th>Note</th>
            tr <td>1</td><td>service</td><td><a href="#service">Service</a></td><td>Service</td><td></td>
            tr <td>2</td><td>status</td><td>array[ServiceStatus]</td><td>List of service replica statuses</td><td></td>
	    tr <td>3</td><td>status_error</td><td>string</td><td>Service status errors</td><td></td>
	  
	h3 Errors
        table
            tr <td>№</td><th>Name</th><th>Code</th><th>Text</th><th>Description</th>
            tr <td>1</td><td>400</td><td>Service not found</td><td></td>  

    br/
    br/
    
    .api-object#service-start
        h3: a(href="#service-start") Service.start <span>&nbsp;&#128279;</span>
        p Asynchronously starts service
        p <a href="#authrorization-rule">Required user authorization</a>
	p To get realtime service status update, you can join push notifications websocket channel 
	
        table
            tr <th>Method</th><th>URL</th>
            tr <td>PUT</td><td>/api/v1/services/:service_id/start</td>
		
        p <i><b>Parameters:</i></b>
        table
            tr <td>№</td><th>Name</th><th>Type</th><th>Required</th><th>Description</th><th>Note</th>
            tr <td>1</td><td>service_id</td><td>string</td><td></td><td>Service ID</td><td></td>
            		
        h3 Result
        table
            tr <td>№</td><th>Parameter</th><th>Type</th><th>Description</th><th>Note</th>
            tr <td>1</td><td>job_id</td><td>string</td><td>Job ID</td><td></td>
            tr <td>2</td><td>url</td><td>string</td><td>URL for job status request</td><td></td>
	    
	h3 Errors
        table
            tr <td>№</td><th>Name</th><th>Code</th><th>Text</th><th>Description</th>
            tr <td>1</td><td>400</td><td>Service not found</td><td></td>  

    br/
    br/
    
    .api-object#service-stop
        h3: a(href="#service-stop") Service.stop <span>&nbsp;&#128279;</span>
        p Asynchronously stops service
        p <a href="#authrorization-rule">Required user authorization</a>
	p To get realtime service status update, you can join push notifications websocket channel 
	
        table
            tr <th>Method</th><th>URL</th>
            tr <td>PUT</td><td>/api/v1/services/:service_id/stop</td>
		
        p <i><b>Parameters:</i></b>
        table
            tr <td>№</td><th>Name</th><th>Type</th><th>Required</th><th>Description</th><th>Note</th>
            tr <td>1</td><td>service_id</td><td>string</td><td></td><td>Service ID</td><td></td>
            		
        h3 Result
        table
            tr <td>№</td><th>Parameter</th><th>Type</th><th>Description</th><th>Note</th>
            tr <td>1</td><td>job_id</td><td>string</td><td>Job ID</td><td></td>
            tr <td>2</td><td>url</td><td>string</td><td>URL for job status request</td><td></td>
	    
	h3 Errors
        table
            tr <td>№</td><th>Name</th><th>Code</th><th>Text</th><th>Description</th>
            tr <td>1</td><td>400</td><td>Service not found</td><td></td>  

    br/
    br/
    
    .api-object#service-update
        h3: a(href="#service-update") Service.update <span>&nbsp;&#128279;</span>
        p Updates service
        p <a href="#authrorization-rule">Required user authorization</a> 
	
        table
            tr <th>Method</th><th>URL</th>
            tr <td>PUT</td><td>/api/v1/services/:service_id</td>
		
        p <i><b>Parameters:</i></b>
        table
            tr <td>№</td><th>Name</th><th>Type</th><th>Required</th><th>Description</th><th>Note</th>
            tr <td>1</td><td></td><td><a href="#service">Service</a></td><td></td><td>Service</td><td></td>
	    tr <td>1</td><td>service_id</td><td>string</td><td></td><td>Service ID</td><td></td>
            		
        h3 Result
        table
            tr <td>№</td><th>Parameter</th><th>Type</th><th>Description</th><th>Note</th>
            tr <td>1</td><td>service</td><td><a href="#service">Service</a></td><td>Service</td><td></td>
            tr <td>2</td><td>service_status</td><td>array[ServiceStatus]</td><td>List of service replica statuses</td><td></td>
	    
	h3 Errors
        table
            tr <td>№</td><th>Name</th><th>Code</th><th>Text</th><th>Description</th>
            tr <td>1</td><td>404</td><td>Service not found</td><td></td>  

    br/
    br/
