extends layout

block subtitle
    | Home

block content
    h1 Welcome to swanager!
    p We offer a high-level Docker clusters management tool which mostly applied to complex microservices applications, SaaS projects and horizontal-scalable applications. If you have any terminological issues, please visit our <a href="/">FAQ</a>.
    h2 Brief overview

