extends layout

block subtitle
    | Home

block content
    h1 Welcome to Swanager!
    p We offer a high-level Docker Services management tool built on top of Swarm, which is mostly applied to complex microservices applications, SaaS projects and horizontal-scalable applications.
    //If you have any terminological issues please visit our <a href="/">FAQ</a>.
    h2 Brief overview
    p Focusing on High Availability (HA), we're building a couple of services to combine them into a common solution.
    p
        b The main HA essentials are:
        br/
        | - processes fault tolerance
        br/
        | - databases accessibility
        br/
        | - storage accessibility
        br/
        | - reliable DNS
    p All the processes should be launched in clusters. This allows to do scaling and to provide HA. Swanager is a Swarm Services Manager, it works on top of Docker Engine (using its built-in Swarm) and provides a reliable management of all the services through the API or the UI Admin Tool.
    p
        b The core component consists of:
        br/
        | - ACL
        br/
        | - applications management
        br/
        | - events ecosystem
        br/
        | - logging
        br/
        | - scheduler
    p
        b The plugins extensions and integrations:
        br/
        | - data backup
    p   You may have a look at <a href="/usecases">our usecases</a> to understand better how it's possible to integrate with Swanager ecosystem. You may contact using the <a href="mailto:hello@swanager.com">hello@swanager.com</a> address.
        br/
        br/
