extends layout

block subtitle
    | Usecases

block content
    h1 Our Usecases

    h3: a(href="https://www.insales.ru/collection/apps/product/apksystems" target="_blank") <img src="/images/apksystems.png" height="60"/> APK Systems
    div <span class="small">[2016, RU]</span>
    p
      |<b>Stack:</b> Python and AngularJS applications packed into the mobile app<br/>
      |<b>Scaling logic:</b> Separate backend and frontend applications per each mobile application<br/>
      |<b>Integration time:</b> 5 weeks<br/>
    p
      |The guys provide a service for the rapid mobile app's deployment based on the existing e-commerce websites created using platform <a href="http://insales.ru" target="_blank">InSales</a>.<br/>
      |Using the Swanager services they've automated the work flow of building their software: developers work on their applications, Swanager Builder builds the images and then their apps are being deployed to Swanager Cloud.
      br/
      br/

    p
      h3: a(href="http://slack-ssh-bot.com" target="_blank") <img src="/images/slack-ssh-bot.png" height="30"/>
      div <span class="small">[2017, UK]</span>
    p
      |<b>Stack:</b> GoLang<br/>
      |<b>Scaling logic:</b> Separate process per each opened connection<br/>
      |<b>Integration time:</b> 4 weeks<br/>
    p
      |The guys developed an application to make a pipe between the <a href="https://slack.com">Slack</a> and any server in the world. To decrease the ping time they had to deploy each process of each their customer in the specific location which is close to the target server. We provide them <b>5 clusters</b> in <b>5 different regions worldwide</b>.
    br/
    br/
